@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
 margin: 0;
 overflow-x: hidden;
}

.section-one{   
    background: url(https://images.pexels.com/photos/269724/pexels-photo-269724.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat fixed center;
    width: auto;
    height: 100vh;
}

.sec-one{
    background-color: rgba(49, 112, 250, 0.8);
    width: 100vw;
    height: 100vh;
}

.content{
    display: block;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: 10vw;
    margin-right: 10vw;
}


.heading-logo{
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.07rem;
}

.intro-heading{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}

.intro-description{
    color: #ffffff;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    display: inline-block;
    align-items: center;
}

.input-email{
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-email input{
    width: 40vw;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
}

.input-email input:focus{
    outline: 0;
}


.input-email button{
    position: absolute;
    bottom: 10px;
    right: 30vw;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    box-shadow: 0 5px 7px rgba(0,0,0, 0.3);
}

.btn:focus{
    outline: 0;
}

.btn:hover{
    box-shadow: 0 10px 10px rgba(0,0,0, 0.3);
}

@media only screen and (max-width: 800px) {

    .intro-heading{
        font-size: 1.2rem;
    }


    .intro-description{
        margin: 4vw;
    }
    
    .input-email button{
        bottom: 10px;
        right: 5vw;
    }
}

@media only screen and (max-width: 500px){
    .section-one, .sec-one{
        height: 130vh;
    }

    .content{
        margin: 0;
    }

    .intro-heading{
        font-size: 0.7rem;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    .intro-description{
        text-align: center;
        line-height: 1.6rem;
    }

    .input-email button{
        font-size: 0.7rem;
    }
} 
